/* =======================
   Module/Button
   ======================= */

.btn {
	z-index: 1;
  position: relative;
  width: 50%;
  display: block;
  
  border: .3em solid $black;
  
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 3em;
  font-size: 1.3em;
  font-family: $font3;

  font-weight: 700;
  color: $black;
  
  @include respond-to(medium) { width: 50%; }
  @include respond-to(small) { margin: auto; }

  @include respond-to(tiny) { 
    width: 80%; 
    margin: auto;
    font-size: 1em;
  }
  
  @include respond-to(large) {
    &:before {
      z-index: -1;
      content:'';
      display: block;
      background-color: $black;
      position: absolute;
      left: 0;
      width: 0;
      height: 100%;
      @include transition(width .3s ease);
      -webkit-backface-visibility: hidden;
    }
    
    &:hover {
      color: white;
      
      &:before {
        width: 100%;
      }
    }
  }

  @include respond-to(extra-large) {
    &:before {
      z-index: -1;
      content:'';
      display: block;
      background-color: $black;
      position: absolute;
      left: 0;
      width: 0;
      height: 100%;
      @include transition(width .3s ease);
      -webkit-backface-visibility: hidden;
    }
    
    &:hover {
      color: white;
      
      &:before {
        width: 100%;
      }
    }
  }
}