/* ===========================
   Base
   =========================== */

html, body { height: 100%; }

body {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
    background-image: url('../img/bg/bg.png');
}

.site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

$menu-width: 280;

.show-menu .container {
    @include transform(translate3d(-(pxtoem($menu-width, 16)), 0, 0));
}

.container {
    width: 65%; 
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 3em;
    /* Pour forcer l'accélération GPU on utilise transform3d */
    @include transform(translate3d(0));
    @include transition (all .4s ease-out);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    @include respond-to(extra-large) { width: 80%; }
    @include respond-to(large) { width: 95%; }
    @include respond-to(medium) { 
        width: 100%; 
        overflow: visible;
    }
    @include respond-to(small) { 
        width: 100%;
        overflow: visible;
    }
    @include respond-to(tiny) { 
        width: 100%; 
        overflow: visible;
    }

    .filter {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $black;
        opacity: 0;
        @include transition(opacity .3s ease-out);

        &.filter-on { opacity: .4; }
    }

    .aside-menu {
        z-index: 3;
        width: pxtoem($menu-width,16);
        height: 100%;
        position: absolute;
        top: 0;
        right: pxtoem(-($menu-width),16);
        background-color: white;
        -webkit-box-shadow: inset 4px 0px 5px -4px $black;
             -o-box-shadow: inset 4px 0px 5px -4px $black;
                box-shadow: inset 4px 0px 5px -4px $black;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=$black, Direction=90, Strength=5);

        @include respond-to(large) { display: none; }
        @include respond-to(tiny) { width: pxtoem($menu-width/1.2, 16) }

        .aside-menu__list {
            margin: 0;
            padding-left: 1em;
            height: 100%;
            width: pxtoem($menu-width,16);
            list-style: none;
            background-color: white;
            
            li a {
                display: block;
                color: $black;
                height: 3em;
                border-bottom: .3em solid $green;
                font-family: $font1;
                font-size: 1.2em;
                line-height: 4em;
                font-weight: 700;
            }
        }
    }
}

a {
    color: $color-link;
    text-decoration: none;
    @include transition();

    &:hover {
        color: $color-link-hover;
    }
}

p {
    font-family: $font1;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

::-moz-selection {
    background: $black;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $black;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
