/* ==|====================
   Contact
   ======================= */

.contact {
	width: 100%;
	position: relative;
	// padding: 2em;
}

.find, .meet, .collaborate {
	width: 95%;
	padding: 4% 2.5%;
	position: relative;
	background-color: #fff;
	//To keep floating elements inside their parents we use clearfix mixin
	@include clearfix;

	h3 {
		font-size: 2.7em;
		margin: 0;

		@include respond-to(medium) { font-size: 2.5em; }
		@include respond-to(tiny) { font-size: 2em; }

		&:after {
			content: '';
			display: block;
			margin: .3rem 0 2rem 0; 
			height: .5rem;
			width: 2rem;
			background-color: $black;
		}
	}

	p {
		font-size: 1.3em;
		margin-bottom: 1em;
		font-family: $font3;
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .8;
		max-width: 60%;
		margin: auto;
		display: block;

		@include respond-to(tiny) { max-width: 40%; }
	}
}

.text-wrapper, .image-wrapper { 
	width: 50%; 
	@include respond-to(tiny) { width: 100%; }
}

.even {
	.text-wrapper {
		float: right;
	}

	.image-wrapper {
		float: left;
	}
}

.odd {
	.text-wrapper {
		float: left;
	}

	.image-wrapper {
		float: right;
	}
}

.btn-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;

	@include respond-to(tiny) { 
		width: 80%; 
		margin: auto;
	}

	p {
		margin: 0;
		display: inline-block;
		width: 10%;
		text-align: center;
		font-size: 1.3em;
	}

	.new-btn-wrapper {
		right: 100%;
		top: 0;
		width: 100%;
		position: absolute;
	}

	.btn-clicked {
		width: 40%;
		display: inline-block;
	}

	.copy {
		font-family: $font3;
		font-size: 2em;
		font-weight: bold;
		// text-decoration: none;
		color: $black;
		// line-height: 3rem;
		display: inline-block;
		position: absolute;
		height: 3em;
		top: 0;
		bottom: 0;
		padding-top: 1rem;
	}

	.copied {
		color: $green;
		font-size: 1.3em;
		text-transform: uppercase;
		// display: none;
	}
}

.text-wrapper {
	opacity: 0.2;
}

.image-wrapper {
	height: 20em;
	position: relative;

	@include respond-to(tiny) { height: 10em; }
}






