/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
	
	text-align: center;
	margin: 2em 0;
	// background-color: tomato;
	// height: 20em;

	img {
		width: 4em;
	}

	p {
		font-size: 1em;
		margin: 0;
	}
}
