/* ==|====================
   Layout/Main
   ======================= */

.l-main {
	position: relative;
	width: 100%;
	height: 50em;
	padding: 1.5em 0;
	text-align: center;
	@include respond-to(medium) { height: 35em; }
	@include respond-to(small) { height: 35em; }
	@include respond-to(tiny) { 
		padding: 3em 0 1.5em 0; 
		height: 25em; 
	}
		
	div {
		font-size: 4.5rem;
		@include vertical-center;
		overflow: hidden;
		@include respond-to(medium) { font-size: 3.5em; };
		@include respond-to(small) { 
			font-size: 2.5em; 
			width: 90%;
			margin: auto;
		};
		@include respond-to(tiny) { font-size: 2em; };
	}

	.blast {
	  display: inline-block;
	  opacity: 0;
	}

	.text{
		font-family: $font1;
		font-weight: bold;
	}
}
